docs/04.exercises/exercise_materials/flow/ExConvertCoordinatesToMultiPatch.json
{"flowContents":{"identifier":"3d6b68bd-f229-383c-a871-a33b19b67c42","instanceIdentifier":"85111b3c-0195-1000-d08f-beac04552dec","name":"ExConvertCoordinatesToMultiPatch","comments":"【処理概要】\n　座標配列と幅データを受け取り、マルチパッチに変換する。\n\n【プロセスグループの入力データ】\n　座標配列\n\n【プロセスグループの出力データ】\n　マルチパッチ\n\n【補足】\n　特になし。","position":{"x":-340.6900752826202,"y":350.7371817365588},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"02be3914-3fe3-3076-92ac-13b1404450c7","instanceIdentifier":"97d38528-602f-345e-65fb-74d4f92aca2e","name":"座標配列をマルチパッチに変換","comments":"","position":{"x":-312.0,"y":520.0},"type":"ConvertCoordinatesToMultipatch","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"1.0.0"},"properties":{"Output DWH Name":"${filename:substringBefore('.'):append('/coordinates_マルチパッチ')}","End Multipatch Flag":"作成する","Depth DWH Name":"${filename:substringBefore('.'):append('/外径')}","Width DWH Name":"${filename:substringBefore('.'):append('/外径')}","Start Multipatch Flag":"作成する"},"propertyDescriptors":{"Output DWH Name":{"name":"Output DWH Name","displayName":"Output DWH Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"End Multipatch Flag":{"name":"End Multipatch Flag","displayName":"End Multipatch Flag","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Depth DWH Name":{"name":"Depth DWH Name","displayName":"Depth DWH Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Width DWH Name":{"name":"Width DWH Name","displayName":"Width DWH Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Start Multipatch Flag":{"name":"Start Multipatch Flag","displayName":"Start Multipatch Flag","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#fff2a8"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3d6b68bd-f229-383c-a871-a33b19b67c42"},{"identifier":"5c1ef985-9ca5-3ac2-801d-2ae5b3767a77","instanceIdentifier":"c2d95a91-7d30-38d6-f398-71767606acdf","name":"フロー上のデータをマージ","comments":"","position":{"x":-312.0,"y":248.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"max-bin-age":null,"correlation-attribute-name":"fragment.identifier","Attribute Strategy":"Keep All Unique Attributes","min-records":"1","max-bin-size":null,"record-writer":"0a4d75c8-386d-35ae-8e52-471affe222a9","merge-strategy":"Defragment","record-reader":"2ef642cd-e90c-3094-ab12-20fd36939984","max-records":"1000","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ccceff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3d6b68bd-f229-383c-a871-a33b19b67c42"},{"identifier":"c0be32c8-f174-32b4-9f63-f5b47e81ba2a","instanceIdentifier":"6cbf44b0-bf40-347e-c328-da142043ac15","name":"ファイルマージ用のパラメータを設定","comments":"","position":{"x":-312.0,"y":-16.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","fragment.identifier":"${filename}","fragment.count":"2","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"fragment.identifier":{"name":"fragment.identifier","displayName":"fragment.identifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"fragment.count":{"name":"fragment.count","displayName":"fragment.count","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ccceff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"3d6b68bd-f229-383c-a871-a33b19b67c42"}],"inputPorts":[{"identifier":"855bd507-fa3c-3d9a-ae2f-1bef42c0f0f4","instanceIdentifier":"414c0b23-0549-3282-5fae-c634710e7158","name":"外径データを受け取る","comments":"","position":{"x":-744.0,"y":-136.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"3d6b68bd-f229-383c-a871-a33b19b67c42"},{"identifier":"3644e5ab-6613-3c5c-b194-07fe374ac40e","instanceIdentifier":"9fe089b7-c53d-3e45-13ef-d036a3b1c1aa","name":"座標配列を受け取る","position":{"x":-256.0,"y":-240.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"3d6b68bd-f229-383c-a871-a33b19b67c42"}],"outputPorts":[{"identifier":"46f85b40-2415-3339-a6bf-1ef09995e82d","instanceIdentifier":"7735898a-2a03-3219-a359-9d7432b5c2ee","name":"マルチパッチを渡す","position":{"x":-256.0,"y":800.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"3d6b68bd-f229-383c-a871-a33b19b67c42"}],"connections":[{"identifier":"67a8bebc-55fe-33d0-96ca-cb1515614769","instanceIdentifier":"248daf8d-7e36-3621-f53f-0bbe516bd8d1","name":"","source":{"id":"855bd507-fa3c-3d9a-ae2f-1bef42c0f0f4","type":"INPUT_PORT","groupId":"3d6b68bd-f229-383c-a871-a33b19b67c42","name":"外径データを受け取る","comments":"","instanceIdentifier":"414c0b23-0549-3282-5fae-c634710e7158"},"destination":{"id":"c0be32c8-f174-32b4-9f63-f5b47e81ba2a","type":"PROCESSOR","groupId":"3d6b68bd-f229-383c-a871-a33b19b67c42","name":"ファイルマージ用のパラメータを設定","comments":"","instanceIdentifier":"6cbf44b0-bf40-347e-c328-da142043ac15"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d6b68bd-f229-383c-a871-a33b19b67c42"},{"identifier":"91bf3425-8e8c-34e4-80bc-9a770e670312","instanceIdentifier":"4eaf3c3c-83ec-3aec-2839-8e9a02e58ef5","name":"","source":{"id":"02be3914-3fe3-3076-92ac-13b1404450c7","type":"PROCESSOR","groupId":"3d6b68bd-f229-383c-a871-a33b19b67c42","name":"座標配列をマルチパッチに変換","comments":"","instanceIdentifier":"97d38528-602f-345e-65fb-74d4f92aca2e"},"destination":{"id":"5f163850-d89a-32cc-a748-ad196639235c","type":"FUNNEL","groupId":"3d6b68bd-f229-383c-a871-a33b19b67c42","name":"Funnel","comments":"","instanceIdentifier":"3c251326-28f5-3a25-782c-711aa21d7000"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":192.0,"y":584.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d6b68bd-f229-383c-a871-a33b19b67c42"},{"identifier":"f7ed7241-3639-3d58-a4fc-11df1dcc9b78","instanceIdentifier":"6936c1c1-756f-3ce0-23e9-0c405917a5cf","name":"","source":{"id":"3644e5ab-6613-3c5c-b194-07fe374ac40e","type":"INPUT_PORT","groupId":"3d6b68bd-f229-383c-a871-a33b19b67c42","name":"座標配列を受け取る","instanceIdentifier":"9fe089b7-c53d-3e45-13ef-d036a3b1c1aa"},"destination":{"id":"c0be32c8-f174-32b4-9f63-f5b47e81ba2a","type":"PROCESSOR","groupId":"3d6b68bd-f229-383c-a871-a33b19b67c42","name":"ファイルマージ用のパラメータを設定","comments":"","instanceIdentifier":"6cbf44b0-bf40-347e-c328-da142043ac15"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d6b68bd-f229-383c-a871-a33b19b67c42"},{"identifier":"f6cfb210-f8d0-34ee-9a60-6f5526c3b436","instanceIdentifier":"df294de0-f533-3061-c379-1614258f8f82","name":"","source":{"id":"02be3914-3fe3-3076-92ac-13b1404450c7","type":"PROCESSOR","groupId":"3d6b68bd-f229-383c-a871-a33b19b67c42","name":"座標配列をマルチパッチに変換","comments":"","instanceIdentifier":"97d38528-602f-345e-65fb-74d4f92aca2e"},"destination":{"id":"46f85b40-2415-3339-a6bf-1ef09995e82d","type":"OUTPUT_PORT","groupId":"3d6b68bd-f229-383c-a871-a33b19b67c42","name":"マルチパッチを渡す","instanceIdentifier":"7735898a-2a03-3219-a359-9d7432b5c2ee"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d6b68bd-f229-383c-a871-a33b19b67c42"},{"identifier":"b4998c3b-dd62-3e77-b424-47912de29a83","instanceIdentifier":"5cd6e154-ac91-3bd3-329f-d6b8b5f8ebb7","name":"","source":{"id":"5c1ef985-9ca5-3ac2-801d-2ae5b3767a77","type":"PROCESSOR","groupId":"3d6b68bd-f229-383c-a871-a33b19b67c42","name":"フロー上のデータをマージ","comments":"","instanceIdentifier":"c2d95a91-7d30-38d6-f398-71767606acdf"},"destination":{"id":"02be3914-3fe3-3076-92ac-13b1404450c7","type":"PROCESSOR","groupId":"3d6b68bd-f229-383c-a871-a33b19b67c42","name":"座標配列をマルチパッチに変換","comments":"","instanceIdentifier":"97d38528-602f-345e-65fb-74d4f92aca2e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d6b68bd-f229-383c-a871-a33b19b67c42"},{"identifier":"7a0a0a79-8928-3f1f-b1cd-c090c48bab61","instanceIdentifier":"5d94f6c1-b528-3bb1-8460-2a065516a63f","name":"","source":{"id":"c0be32c8-f174-32b4-9f63-f5b47e81ba2a","type":"PROCESSOR","groupId":"3d6b68bd-f229-383c-a871-a33b19b67c42","name":"ファイルマージ用のパラメータを設定","comments":"","instanceIdentifier":"6cbf44b0-bf40-347e-c328-da142043ac15"},"destination":{"id":"5c1ef985-9ca5-3ac2-801d-2ae5b3767a77","type":"PROCESSOR","groupId":"3d6b68bd-f229-383c-a871-a33b19b67c42","name":"フロー上のデータをマージ","comments":"","instanceIdentifier":"c2d95a91-7d30-38d6-f398-71767606acdf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d6b68bd-f229-383c-a871-a33b19b67c42"},{"identifier":"e63ea762-bf98-3f3c-9d93-6cdec303c308","instanceIdentifier":"8b404857-4709-3295-6e1f-91088d76c7be","name":"","source":{"id":"5c1ef985-9ca5-3ac2-801d-2ae5b3767a77","type":"PROCESSOR","groupId":"3d6b68bd-f229-383c-a871-a33b19b67c42","name":"フロー上のデータをマージ","comments":"","instanceIdentifier":"c2d95a91-7d30-38d6-f398-71767606acdf"},"destination":{"id":"5f163850-d89a-32cc-a748-ad196639235c","type":"FUNNEL","groupId":"3d6b68bd-f229-383c-a871-a33b19b67c42","name":"Funnel","comments":"","instanceIdentifier":"3c251326-28f5-3a25-782c-711aa21d7000"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":192.0,"y":312.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"3d6b68bd-f229-383c-a871-a33b19b67c42"}],"labels":[],"funnels":[{"identifier":"5f163850-d89a-32cc-a748-ad196639235c","instanceIdentifier":"3c251326-28f5-3a25-782c-711aa21d7000","position":{"x":168.0,"y":416.0},"componentType":"FUNNEL","groupIdentifier":"3d6b68bd-f229-383c-a871-a33b19b67c42"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}