docs/04.exercises/exercise_materials/flow/ExConvertFieldSetFileToCityGMLNoThematicLine.json
{"flowContents":{"identifier":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce","instanceIdentifier":"850f89f0-0195-1000-ddbf-e50f686b22f2","name":"ExConvertFiledSetFileToCityGMLNoThematicLine","comments":"【処理概要】\n　データ加工後のデータを受け取り、CityGmlデータを作成する。\n\n【プロセスグループの入力データ】\n　データ加工フローの出力データ\n\n【プロセスグループの出力データ】\n　CityGmlデータファイル\n\n【補足】\n　出力されるCityGmlデータは、データタイプ：LineStringで中心線のデータを含まないデータです。","position":{"x":-488.0,"y":208.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"27796793-5315-37c2-9df7-aa0dbe6b3b2f","instanceIdentifier":"850fd90a-0195-1000-dcc7-baafb307487f","name":"FieldSetFileのValue列を抽出","comments":"","position":{"x":-264.0,"y":504.0},"type":"GetValueFromFieldSetFile","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"1.0.0"},"properties":{"Output ZIP Flag":"圧縮しない","File Name":"${DWH:append('.gml')}"},"propertyDescriptors":{"Output ZIP Flag":{"name":"Output ZIP Flag","displayName":"Output ZIP Flag","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Name":{"name":"File Name","displayName":"File Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#fff2a8"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce"},{"identifier":"fc69ca6e-50cc-38dd-b579-824bfbb4c0ad","instanceIdentifier":"0239f628-ccfe-3378-40ac-1f026a863022","name":"抽出したデータをファイルに書き出す","comments":"","position":{"x":-264.0,"y":744.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"#{001_DefaultDirectory}\\#{201_OutputDirectoryCityGmlNoThematic}","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ccceff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce"},{"identifier":"8dcf9194-26bf-3510-85da-c7f7f5a0b46c","instanceIdentifier":"38bb3d68-03dd-3160-8afc-b8713ecdb669","name":"DWH名でファイルを分割","comments":"","position":{"x":-264.0,"y":272.0},"type":"org.apache.nifi.processors.standard.PartitionRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"DWH":"/Dwh","record-writer":"4f0dda56-4a5e-370e-8245-fde95eec3c09","record-reader":"a9f6658c-da65-32c1-a8d7-926ff94b63b4"},"propertyDescriptors":{"DWH":{"name":"DWH","displayName":"DWH","identifiesControllerService":false,"sensitive":false,"dynamic":true},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ccceff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce"},{"identifier":"5a9ce48d-d245-3eaa-a203-029fcb72807a","instanceIdentifier":"01f9bc36-8461-30b9-77a5-57213f9faf8a","name":"geometryと必要な属性をCityGMLに変換","comments":"","position":{"x":-264.0,"y":16.0},"type":"ConvertLineStringCoordinatesToCityGMLNoThematic","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"1.0.0"},"properties":{"gml_id DWH Name":"${filename:substringBefore('.'):append('/gml_id')}","Data Definition Delimiter":"Comma","Level2500 Unit Code String":"${unit_code}","Center DWH Name":"${filename:substringBefore('.'):append('/coordinates')}","Output Target CRS String":"${crs}","Feature Tag String":"gml:CompositeSurface"},"propertyDescriptors":{"gml_id DWH Name":{"name":"gml_id DWH Name","displayName":"gml_id DWH Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Definition Delimiter":{"name":"Data Definition Delimiter","displayName":"Data Definition Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Level2500 Unit Code String":{"name":"Level2500 Unit Code String","displayName":"Level2500 Unit Code String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Center DWH Name":{"name":"Center DWH Name","displayName":"Center DWH Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Target CRS String":{"name":"Output Target CRS String","displayName":"Output Target CRS String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Feature Tag String":{"name":"Feature Tag String","displayName":"Feature Tag String","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#fff2a8"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce"},{"identifier":"eab6f129-35b9-36fe-8508-9698d089ae81","instanceIdentifier":"970cefa8-ef41-3d14-23e4-64e062fa369a","name":"出力データ定義を設定","comments":"","position":{"x":-264.0,"y":-216.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"DataDefinition":"#{500_OutputCityGmlDataDefinition}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"DataDefinition":{"name":"DataDefinition","displayName":"DataDefinition","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{"background-color":"#ccceff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce"}],"inputPorts":[{"identifier":"95822e57-b23b-3c13-80a6-63a4f256840b","instanceIdentifier":"c8cb3bf6-3a5c-3e99-2d38-8eca18b2e22b","name":"データ加工処理後のデータを受け取る","position":{"x":-208.0,"y":-336.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce"}],"outputPorts":[],"connections":[{"identifier":"8be8ae41-cbc7-3317-a9ab-8b55ba5d62d8","instanceIdentifier":"851029bd-0195-1000-0964-fd64c6607c4c","name":"","source":{"id":"27796793-5315-37c2-9df7-aa0dbe6b3b2f","type":"PROCESSOR","groupId":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce","name":"FieldSetFileのValue列を抽出","comments":"","instanceIdentifier":"850fd90a-0195-1000-dcc7-baafb307487f"},"destination":{"id":"fc69ca6e-50cc-38dd-b579-824bfbb4c0ad","type":"PROCESSOR","groupId":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce","name":"抽出したデータをファイルに書き出す","comments":"","instanceIdentifier":"0239f628-ccfe-3378-40ac-1f026a863022"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce"},{"identifier":"6e9e7ec3-6719-3028-83a2-ee1a0f29e164","instanceIdentifier":"17dd2c99-c1ca-3dfb-216e-991c41832990","name":"","source":{"id":"eab6f129-35b9-36fe-8508-9698d089ae81","type":"PROCESSOR","groupId":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce","name":"出力データ定義を設定","comments":"","instanceIdentifier":"970cefa8-ef41-3d14-23e4-64e062fa369a"},"destination":{"id":"5a9ce48d-d245-3eaa-a203-029fcb72807a","type":"PROCESSOR","groupId":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce","name":"geometryと必要な属性をCityGMLに変換","comments":"","instanceIdentifier":"01f9bc36-8461-30b9-77a5-57213f9faf8a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce"},{"identifier":"933d2694-95d3-335b-9d95-acb70c57ef71","instanceIdentifier":"070902ce-78d2-3379-fda2-460c27337cd7","name":"","source":{"id":"8dcf9194-26bf-3510-85da-c7f7f5a0b46c","type":"PROCESSOR","groupId":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce","name":"DWH名でファイルを分割","comments":"","instanceIdentifier":"38bb3d68-03dd-3160-8afc-b8713ecdb669"},"destination":{"id":"27796793-5315-37c2-9df7-aa0dbe6b3b2f","type":"PROCESSOR","groupId":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce","name":"FieldSetFileのValue列を抽出","comments":"","instanceIdentifier":"850fd90a-0195-1000-dcc7-baafb307487f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce"},{"identifier":"7e4b6351-3637-3c76-a870-2cb3f9e7c70a","instanceIdentifier":"4d9eb125-ae70-3db4-993a-e7085fbfdc63","name":"","source":{"id":"fc69ca6e-50cc-38dd-b579-824bfbb4c0ad","type":"PROCESSOR","groupId":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce","name":"抽出したデータをファイルに書き出す","comments":"","instanceIdentifier":"0239f628-ccfe-3378-40ac-1f026a863022"},"destination":{"id":"68d337cf-1041-37cc-934f-70e2fe3ba86a","type":"FUNNEL","groupId":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce","name":"Funnel","comments":"","instanceIdentifier":"2edc874e-61fb-395c-b0a1-e8c94e4da5f3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce"},{"identifier":"e6a289e4-506c-3c4b-8a27-e2b95e576512","instanceIdentifier":"068ccb04-398b-3cf0-39aa-2e70924e30e0","name":"","source":{"id":"fc69ca6e-50cc-38dd-b579-824bfbb4c0ad","type":"PROCESSOR","groupId":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce","name":"抽出したデータをファイルに書き出す","comments":"","instanceIdentifier":"0239f628-ccfe-3378-40ac-1f026a863022"},"destination":{"id":"14d9cf93-c4b9-38f0-aa8f-f6bc82d2a91a","type":"FUNNEL","groupId":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce","name":"Funnel","comments":"","instanceIdentifier":"ca866963-5afc-3116-b385-275e368da3c7"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":240.0,"y":808.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce"},{"identifier":"6e9ebee0-4c3a-3490-809a-afa34199625d","instanceIdentifier":"f1c348c7-6014-3088-389f-fd9f40c6ed6a","name":"","source":{"id":"95822e57-b23b-3c13-80a6-63a4f256840b","type":"INPUT_PORT","groupId":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce","name":"データ加工処理後のデータを受け取る","instanceIdentifier":"c8cb3bf6-3a5c-3e99-2d38-8eca18b2e22b"},"destination":{"id":"eab6f129-35b9-36fe-8508-9698d089ae81","type":"PROCESSOR","groupId":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce","name":"出力データ定義を設定","comments":"","instanceIdentifier":"970cefa8-ef41-3d14-23e4-64e062fa369a"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce"},{"identifier":"d3c27edb-1e1b-3d1a-ba41-6d13901d7754","instanceIdentifier":"85103b64-0195-1000-7b5a-9b1a1308896d","name":"","source":{"id":"27796793-5315-37c2-9df7-aa0dbe6b3b2f","type":"PROCESSOR","groupId":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce","name":"FieldSetFileのValue列を抽出","comments":"","instanceIdentifier":"850fd90a-0195-1000-dcc7-baafb307487f"},"destination":{"id":"14d9cf93-c4b9-38f0-aa8f-f6bc82d2a91a","type":"FUNNEL","groupId":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce","name":"Funnel","comments":"","instanceIdentifier":"ca866963-5afc-3116-b385-275e368da3c7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":240.0,"y":568.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce"},{"identifier":"8f3a45e7-8f23-3877-af89-27a3b68fb342","instanceIdentifier":"76572519-5002-3a31-b839-80ca043b41d2","name":"","source":{"id":"5a9ce48d-d245-3eaa-a203-029fcb72807a","type":"PROCESSOR","groupId":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce","name":"geometryと必要な属性をCityGMLに変換","comments":"","instanceIdentifier":"01f9bc36-8461-30b9-77a5-57213f9faf8a"},"destination":{"id":"089eaa41-2f38-37d8-9812-3c129cdf8df0","type":"FUNNEL","groupId":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce","name":"Funnel","comments":"","instanceIdentifier":"17232b64-868e-34ed-f1e7-1c7fde41994d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":248.0,"y":80.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce"},{"identifier":"26b9aa53-6081-3ffd-9ff9-aa78fe2865b1","instanceIdentifier":"966f02a6-3bc4-3fc0-f58f-731ed3d3f6ca","name":"","source":{"id":"5a9ce48d-d245-3eaa-a203-029fcb72807a","type":"PROCESSOR","groupId":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce","name":"geometryと必要な属性をCityGMLに変換","comments":"","instanceIdentifier":"01f9bc36-8461-30b9-77a5-57213f9faf8a"},"destination":{"id":"8dcf9194-26bf-3510-85da-c7f7f5a0b46c","type":"PROCESSOR","groupId":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce","name":"DWH名でファイルを分割","comments":"","instanceIdentifier":"38bb3d68-03dd-3160-8afc-b8713ecdb669"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce"},{"identifier":"d8040d37-a27e-3fc7-b503-08da5a80aff9","instanceIdentifier":"cf0d0e6b-8676-3542-ba76-04bb16ecb584","name":"","source":{"id":"8dcf9194-26bf-3510-85da-c7f7f5a0b46c","type":"PROCESSOR","groupId":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce","name":"DWH名でファイルを分割","comments":"","instanceIdentifier":"38bb3d68-03dd-3160-8afc-b8713ecdb669"},"destination":{"id":"089eaa41-2f38-37d8-9812-3c129cdf8df0","type":"FUNNEL","groupId":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce","name":"Funnel","comments":"","instanceIdentifier":"17232b64-868e-34ed-f1e7-1c7fde41994d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":248.0,"y":344.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce"}],"labels":[],"funnels":[{"identifier":"14d9cf93-c4b9-38f0-aa8f-f6bc82d2a91a","instanceIdentifier":"ca866963-5afc-3116-b385-275e368da3c7","position":{"x":216.0,"y":680.0},"componentType":"FUNNEL","groupIdentifier":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce"},{"identifier":"089eaa41-2f38-37d8-9812-3c129cdf8df0","instanceIdentifier":"17232b64-868e-34ed-f1e7-1c7fde41994d","position":{"x":224.0,"y":184.0},"componentType":"FUNNEL","groupIdentifier":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce"},{"identifier":"68d337cf-1041-37cc-934f-70e2fe3ba86a","instanceIdentifier":"2edc874e-61fb-395c-b0a1-e8c94e4da5f3","position":{"x":-112.0,"y":1016.0},"componentType":"FUNNEL","groupIdentifier":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce"}],"controllerServices":[{"identifier":"4f0dda56-4a5e-370e-8245-fde95eec3c09","instanceIdentifier":"78107f85-e954-3043-f462-9e8fbe11df27","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce"},{"identifier":"a9f6658c-da65-32c1-a8d7-926ff94b63b4","instanceIdentifier":"3a05b3f6-f6d7-3952-acca-d473904fbff3","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"84dd0d52-e69d-3e11-beb6-9bb9cdb1f8ce"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}