docs/04.exercises/exercise_materials/flow/ExConvertShapefileToFieldSetFile.json
{"flowContents":{"identifier":"639347c5-ca44-3614-93bf-801ce1480704","instanceIdentifier":"1e190ef5-0196-1000-3a16-c2aeef1428cd","name":"ExConvertShapefileToFieldSetFile","comments":"【処理概要】\n　Shapefileを読み込み、GeoDataFrameに変換後、FieldSetFileに変換する。\n\n【プロセスグループの入力データ】\n　Shapefile\n\n【プロセスグループの出力データ】\n　FieldSetFile\n\n【補足】\n　FieldSetFileは、データ定義と一致するデータタイプを抽出したデータです。","position":{"x":-160.0,"y":72.0},"processGroups":[{"identifier":"e96ed264-918b-3b4c-9f51-791ccb114280","instanceIdentifier":"a249037b-2c22-3ca5-dc99-3401ec01b499","name":"ShapefileをGeoDataFrameに変換する処理","comments":"【処理概要】\n　所定のフォルダに存在するShapefileを読み込み、GeoDataFrameに変換する。\n\n【プロセスグループの入力データ】\n　ShapeFile\n\n【プロセスグループの出力データ】\n　GeoDataFrame\n\n【補足】\n　GeoDataFrameは、地理空間情報を扱いやすくした2次元の表形式のデータ形式です。","position":{"x":-768.0,"y":104.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"3b18e80f-b4a1-3eb1-9657-b33a91e5740d","instanceIdentifier":"e5faed21-a0f8-3fed-8ad7-ff3832918c5a","name":"ShapefileをGeoDataFrameに変換","comments":"","position":{"x":-408.0,"y":296.0},"type":"ConvertShapeFileToGeoDataFrame","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"1.0.0"},"properties":{"Longitude(Y) Offset":"0","Latitude(X) Offset":"0","Specify Unit":null,"Shapefile Encode":"shift-jis","Shapefile CRS":"6677"},"propertyDescriptors":{"Longitude(Y) Offset":{"name":"Longitude(Y) Offset","displayName":"Longitude(Y) Offset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Latitude(X) Offset":{"name":"Latitude(X) Offset","displayName":"Latitude(X) Offset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Specify Unit":{"name":"Specify Unit","displayName":"Specify Unit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Shapefile Encode":{"name":"Shapefile Encode","displayName":"Shapefile Encode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Shapefile CRS":{"name":"Shapefile CRS","displayName":"Shapefile CRS","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#fff2a8"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e96ed264-918b-3b4c-9f51-791ccb114280"},{"identifier":"2578b6a6-27b6-396a-a234-6c751aa401b5","instanceIdentifier":"507e92d2-6f93-31c6-111b-51ce996ff307","name":"入力データ定義とファイルマージ用のパラメータを設定","comments":"","position":{"x":-408.0000333770699,"y":32.00006147564113},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0"},"properties":{"filenameText":"${filename}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","fragment.identifier":"${filename:substringBefore('.')}","Stateful Variables Initial Value":null,"DataDefinition":"#{400_InputShapefileDataDefinition}"},"propertyDescriptors":{"filenameText":{"name":"filenameText","displayName":"filenameText","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"fragment.identifier":{"name":"fragment.identifier","displayName":"fragment.identifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"DataDefinition":{"name":"DataDefinition","displayName":"DataDefinition","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{"background-color":"#ccceff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e96ed264-918b-3b4c-9f51-791ccb114280"},{"identifier":"c923dad2-3c2f-3fc4-a021-bf431dd30d3a","instanceIdentifier":"65cc9895-12d3-369b-2abe-be0efd63252d","name":"入力ターゲットファイルのディレクトリ情報取得","comments":"","position":{"x":-408.0000333770699,"y":-463.99993852435887},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Minimum File Age":"0 sec","et-initial-listing-target":"window","Maximum File Age":null,"max-listing-time":"3 mins","record-writer":null,"Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"true","File Filter":"#{600_InputShapefileName}","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"none","Input Directory":"#{001_DefaultDirectory}\\#{100_InputDirectoryShapefile}","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ccceff"},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e96ed264-918b-3b4c-9f51-791ccb114280"},{"identifier":"3d19e807-ccd3-31a6-afb8-af45aa41e00b","instanceIdentifier":"b8b46622-3c76-316b-a430-864368e01888","name":"入力ターゲットファイルのデータを取得","comments":"","position":{"x":-408.0,"y":-216.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":"#{001_DefaultDirectory}\\#{300_BackupDirectory}","Log level when permission denied":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"Move File"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ccceff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e96ed264-918b-3b4c-9f51-791ccb114280"}],"inputPorts":[],"outputPorts":[{"identifier":"8af41f19-5969-3775-843a-834540ced5db","instanceIdentifier":"416aca77-7a1d-32a1-9a0b-e6620cb98fd6","name":"GeoDataFrameを渡す","position":{"x":-352.0,"y":528.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"e96ed264-918b-3b4c-9f51-791ccb114280"}],"connections":[{"identifier":"cd2095a1-cbf8-32eb-bd66-5734e9d8c36d","instanceIdentifier":"d8623aa8-2602-3ba6-4277-6fc26a59f4ab","name":"","source":{"id":"3d19e807-ccd3-31a6-afb8-af45aa41e00b","type":"PROCESSOR","groupId":"e96ed264-918b-3b4c-9f51-791ccb114280","name":"入力ターゲットファイルのデータを取得","comments":"","instanceIdentifier":"b8b46622-3c76-316b-a430-864368e01888"},"destination":{"id":"cfbbdcfd-32bb-3799-8f04-67a96e56a89a","type":"FUNNEL","groupId":"e96ed264-918b-3b4c-9f51-791ccb114280","name":"Funnel","comments":"","instanceIdentifier":"7f988354-66f4-3707-8791-aa8424eeb38c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":152.0,"y":-232.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e96ed264-918b-3b4c-9f51-791ccb114280"},{"identifier":"0d264521-19f3-3767-b7f9-052034c7004b","instanceIdentifier":"53b978b1-e6b2-32f7-3f20-b0c0cec28ff8","name":"","source":{"id":"3b18e80f-b4a1-3eb1-9657-b33a91e5740d","type":"PROCESSOR","groupId":"e96ed264-918b-3b4c-9f51-791ccb114280","name":"ShapefileをGeoDataFrameに変換","comments":"","instanceIdentifier":"e5faed21-a0f8-3fed-8ad7-ff3832918c5a"},"destination":{"id":"9e5e10ad-b235-3753-b21f-be0e9586a877","type":"FUNNEL","groupId":"e96ed264-918b-3b4c-9f51-791ccb114280","name":"Funnel","comments":"","instanceIdentifier":"c27c9c67-da8c-3b15-394a-77e2b8bc4387"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e96ed264-918b-3b4c-9f51-791ccb114280"},{"identifier":"1e3d1ea2-41dd-3f05-97c4-97effd9cc06f","instanceIdentifier":"fde90d92-36fd-31f9-f622-c4642557dcfc","name":"","source":{"id":"3d19e807-ccd3-31a6-afb8-af45aa41e00b","type":"PROCESSOR","groupId":"e96ed264-918b-3b4c-9f51-791ccb114280","name":"入力ターゲットファイルのデータを取得","comments":"","instanceIdentifier":"b8b46622-3c76-316b-a430-864368e01888"},"destination":{"id":"cfbbdcfd-32bb-3799-8f04-67a96e56a89a","type":"FUNNEL","groupId":"e96ed264-918b-3b4c-9f51-791ccb114280","name":"Funnel","comments":"","instanceIdentifier":"7f988354-66f4-3707-8791-aa8424eeb38c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e96ed264-918b-3b4c-9f51-791ccb114280"},{"identifier":"53fcdd80-b215-37a1-98ba-799bdd56ae05","instanceIdentifier":"d4663e0c-9045-3488-e3d1-aaba48c9eff7","name":"","source":{"id":"3b18e80f-b4a1-3eb1-9657-b33a91e5740d","type":"PROCESSOR","groupId":"e96ed264-918b-3b4c-9f51-791ccb114280","name":"ShapefileをGeoDataFrameに変換","comments":"","instanceIdentifier":"e5faed21-a0f8-3fed-8ad7-ff3832918c5a"},"destination":{"id":"8af41f19-5969-3775-843a-834540ced5db","type":"OUTPUT_PORT","groupId":"e96ed264-918b-3b4c-9f51-791ccb114280","name":"GeoDataFrameを渡す","instanceIdentifier":"416aca77-7a1d-32a1-9a0b-e6620cb98fd6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e96ed264-918b-3b4c-9f51-791ccb114280"},{"identifier":"c1c7980a-9d60-30a1-ae14-ad684db3c73c","instanceIdentifier":"877d1842-2d01-3f42-5be1-f13e923b61be","name":"","source":{"id":"c923dad2-3c2f-3fc4-a021-bf431dd30d3a","type":"PROCESSOR","groupId":"e96ed264-918b-3b4c-9f51-791ccb114280","name":"入力ターゲットファイルのディレクトリ情報取得","comments":"","instanceIdentifier":"65cc9895-12d3-369b-2abe-be0efd63252d"},"destination":{"id":"3d19e807-ccd3-31a6-afb8-af45aa41e00b","type":"PROCESSOR","groupId":"e96ed264-918b-3b4c-9f51-791ccb114280","name":"入力ターゲットファイルのデータを取得","comments":"","instanceIdentifier":"b8b46622-3c76-316b-a430-864368e01888"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e96ed264-918b-3b4c-9f51-791ccb114280"},{"identifier":"40fe6558-4a5d-3d0f-b5c8-7da381594f9f","instanceIdentifier":"652b88a0-1834-31fb-0a12-2b39389a5395","name":"","source":{"id":"2578b6a6-27b6-396a-a234-6c751aa401b5","type":"PROCESSOR","groupId":"e96ed264-918b-3b4c-9f51-791ccb114280","name":"入力データ定義とファイルマージ用のパラメータを設定","comments":"","instanceIdentifier":"507e92d2-6f93-31c6-111b-51ce996ff307"},"destination":{"id":"3b18e80f-b4a1-3eb1-9657-b33a91e5740d","type":"PROCESSOR","groupId":"e96ed264-918b-3b4c-9f51-791ccb114280","name":"ShapefileをGeoDataFrameに変換","comments":"","instanceIdentifier":"e5faed21-a0f8-3fed-8ad7-ff3832918c5a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e96ed264-918b-3b4c-9f51-791ccb114280"},{"identifier":"7ad6f7a9-99b6-37e0-918d-e4b7d77e0bca","instanceIdentifier":"46fd7fa2-a94a-3d39-dcfc-98ce8819c512","name":"","source":{"id":"3d19e807-ccd3-31a6-afb8-af45aa41e00b","type":"PROCESSOR","groupId":"e96ed264-918b-3b4c-9f51-791ccb114280","name":"入力ターゲットファイルのデータを取得","comments":"","instanceIdentifier":"b8b46622-3c76-316b-a430-864368e01888"},"destination":{"id":"cfbbdcfd-32bb-3799-8f04-67a96e56a89a","type":"FUNNEL","groupId":"e96ed264-918b-3b4c-9f51-791ccb114280","name":"Funnel","comments":"","instanceIdentifier":"7f988354-66f4-3707-8791-aa8424eeb38c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["permission.denied"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":160.0,"y":-56.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e96ed264-918b-3b4c-9f51-791ccb114280"},{"identifier":"489d886d-6133-3ce2-b970-530d6d2248f3","instanceIdentifier":"f153e52b-0f92-3269-fe93-45f8da44b02c","name":"","source":{"id":"3d19e807-ccd3-31a6-afb8-af45aa41e00b","type":"PROCESSOR","groupId":"e96ed264-918b-3b4c-9f51-791ccb114280","name":"入力ターゲットファイルのデータを取得","comments":"","instanceIdentifier":"b8b46622-3c76-316b-a430-864368e01888"},"destination":{"id":"2578b6a6-27b6-396a-a234-6c751aa401b5","type":"PROCESSOR","groupId":"e96ed264-918b-3b4c-9f51-791ccb114280","name":"入力データ定義とファイルマージ用のパラメータを設定","comments":"","instanceIdentifier":"507e92d2-6f93-31c6-111b-51ce996ff307"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e96ed264-918b-3b4c-9f51-791ccb114280"}],"labels":[],"funnels":[{"identifier":"cfbbdcfd-32bb-3799-8f04-67a96e56a89a","instanceIdentifier":"7f988354-66f4-3707-8791-aa8424eeb38c","position":{"x":359.9999666229301,"y":-167.99993852435887},"componentType":"FUNNEL","groupIdentifier":"e96ed264-918b-3b4c-9f51-791ccb114280"},{"identifier":"9e5e10ad-b235-3753-b21f-be0e9586a877","instanceIdentifier":"c27c9c67-da8c-3b15-394a-77e2b8bc4387","position":{"x":224.0,"y":336.0},"componentType":"FUNNEL","groupIdentifier":"e96ed264-918b-3b4c-9f51-791ccb114280"}],"controllerServices":[],"parameterContextName":"ParameterTemplate","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"639347c5-ca44-3614-93bf-801ce1480704"},{"identifier":"d8ade1a4-ab71-3bc6-b1f5-b98c7391249b","instanceIdentifier":"ae0f0772-0276-37cd-906f-8a074ec272f8","name":"Geometryの事前チェック処理","comments":"【処理概要】\n　GeoDataFrameに対して、幾何学的に無効なジオメトリが無いかチェックし、\n　Null値のジオメトリがあれば削除します。\n　マルチパートジオメトリがあれば1つずつのジオメトリに分けます。\n\n【プロセスグループの入力データ】\n　GeoDataFrame\n\n【プロセスグループの出力データ】\n　GeoDataFrame\n\n【補足】\n　GeoDataFrameは、地理空間情報を扱いやすくした2次元の表形式のデータ形式です。","position":{"x":-768.0,"y":424.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"6394f848-3a21-3e48-844d-e51d4bff70cd","instanceIdentifier":"d632e10a-179e-3251-db06-ca04ee2ee940","name":"MultipartをSinglepartに変換","comments":"","position":{"x":-448.0,"y":304.0},"type":"ConvertMultipartToSinglepart","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"1.0.0"},"properties":{},"propertyDescriptors":{},"style":{"background-color":"#fff2a8"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d8ade1a4-ab71-3bc6-b1f5-b98c7391249b"},{"identifier":"577322ae-db6f-3241-9922-dc95c38f8fec","instanceIdentifier":"daaf19dc-b9f1-3747-12e0-8cbdefdc9534","name":"Geometryのエラーをチェックし、Null値のgeometryは削除","comments":"","position":{"x":-448.0,"y":48.0},"type":"CheckInvalidGeometry","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"1.0.0"},"properties":{"Permission Distance":"0.0"},"propertyDescriptors":{"Permission Distance":{"name":"Permission Distance","displayName":"Permission Distance","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#fff2a8"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d8ade1a4-ab71-3bc6-b1f5-b98c7391249b"}],"inputPorts":[{"identifier":"499dd3c9-8dba-3dff-b304-c14bf56ad17e","instanceIdentifier":"ded1f908-b32c-30a7-547e-c64b64141cdb","name":"GeoDataFrameを受け取る","position":{"x":-392.0,"y":-104.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"d8ade1a4-ab71-3bc6-b1f5-b98c7391249b"}],"outputPorts":[{"identifier":"61443b86-825b-3c20-b5d2-d289445d7704","instanceIdentifier":"b5ed82b3-1f82-3552-e4a0-0526479796b4","name":"GeoDataFrameを渡す","position":{"x":-392.0,"y":576.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"d8ade1a4-ab71-3bc6-b1f5-b98c7391249b"}],"connections":[{"identifier":"1c036c19-4010-39f7-a246-1e4f3d73f1b6","instanceIdentifier":"65243005-b3e2-3a28-7694-45cb5095d87f","name":"","source":{"id":"577322ae-db6f-3241-9922-dc95c38f8fec","type":"PROCESSOR","groupId":"d8ade1a4-ab71-3bc6-b1f5-b98c7391249b","name":"Geometryのエラーをチェックし、Null値のgeometryは削除","comments":"","instanceIdentifier":"daaf19dc-b9f1-3747-12e0-8cbdefdc9534"},"destination":{"id":"15386082-3aed-3fee-a9ca-ad47a0f1b1c7","type":"FUNNEL","groupId":"d8ade1a4-ab71-3bc6-b1f5-b98c7391249b","name":"Funnel","comments":"","instanceIdentifier":"b174fdd1-e1f8-3747-e1a6-362c4e4dad3b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8ade1a4-ab71-3bc6-b1f5-b98c7391249b"},{"identifier":"ce762fd0-acfb-3265-8c3f-6f3f0a61b86e","instanceIdentifier":"92ef6706-5e32-3807-99fc-eb7e98503dc2","name":"","source":{"id":"6394f848-3a21-3e48-844d-e51d4bff70cd","type":"PROCESSOR","groupId":"d8ade1a4-ab71-3bc6-b1f5-b98c7391249b","name":"MultipartをSinglepartに変換","comments":"","instanceIdentifier":"d632e10a-179e-3251-db06-ca04ee2ee940"},"destination":{"id":"61443b86-825b-3c20-b5d2-d289445d7704","type":"OUTPUT_PORT","groupId":"d8ade1a4-ab71-3bc6-b1f5-b98c7391249b","name":"GeoDataFrameを渡す","instanceIdentifier":"b5ed82b3-1f82-3552-e4a0-0526479796b4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8ade1a4-ab71-3bc6-b1f5-b98c7391249b"},{"identifier":"a64029ce-495b-3b78-b029-9260c07ff79a","instanceIdentifier":"daa88d57-865c-321f-0558-7c250a6cfe10","name":"","source":{"id":"577322ae-db6f-3241-9922-dc95c38f8fec","type":"PROCESSOR","groupId":"d8ade1a4-ab71-3bc6-b1f5-b98c7391249b","name":"Geometryのエラーをチェックし、Null値のgeometryは削除","comments":"","instanceIdentifier":"daaf19dc-b9f1-3747-12e0-8cbdefdc9534"},"destination":{"id":"6394f848-3a21-3e48-844d-e51d4bff70cd","type":"PROCESSOR","groupId":"d8ade1a4-ab71-3bc6-b1f5-b98c7391249b","name":"MultipartをSinglepartに変換","comments":"","instanceIdentifier":"d632e10a-179e-3251-db06-ca04ee2ee940"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8ade1a4-ab71-3bc6-b1f5-b98c7391249b"},{"identifier":"55c776bc-28c9-34b4-b538-a06c630767b3","instanceIdentifier":"cbde5367-ccde-3648-ec74-3b9f392c6e50","name":"","source":{"id":"499dd3c9-8dba-3dff-b304-c14bf56ad17e","type":"INPUT_PORT","groupId":"d8ade1a4-ab71-3bc6-b1f5-b98c7391249b","name":"GeoDataFrameを受け取る","instanceIdentifier":"ded1f908-b32c-30a7-547e-c64b64141cdb"},"destination":{"id":"577322ae-db6f-3241-9922-dc95c38f8fec","type":"PROCESSOR","groupId":"d8ade1a4-ab71-3bc6-b1f5-b98c7391249b","name":"Geometryのエラーをチェックし、Null値のgeometryは削除","comments":"","instanceIdentifier":"daaf19dc-b9f1-3747-12e0-8cbdefdc9534"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8ade1a4-ab71-3bc6-b1f5-b98c7391249b"},{"identifier":"9d34ac5e-37d0-382c-80f1-1cba315bb8e1","instanceIdentifier":"2cc0bc12-6147-3907-bec2-78603f0f02ce","name":"","source":{"id":"6394f848-3a21-3e48-844d-e51d4bff70cd","type":"PROCESSOR","groupId":"d8ade1a4-ab71-3bc6-b1f5-b98c7391249b","name":"MultipartをSinglepartに変換","comments":"","instanceIdentifier":"d632e10a-179e-3251-db06-ca04ee2ee940"},"destination":{"id":"15386082-3aed-3fee-a9ca-ad47a0f1b1c7","type":"FUNNEL","groupId":"d8ade1a4-ab71-3bc6-b1f5-b98c7391249b","name":"Funnel","comments":"","instanceIdentifier":"b174fdd1-e1f8-3747-e1a6-362c4e4dad3b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":200.0,"y":368.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d8ade1a4-ab71-3bc6-b1f5-b98c7391249b"}],"labels":[],"funnels":[{"identifier":"15386082-3aed-3fee-a9ca-ad47a0f1b1c7","instanceIdentifier":"b174fdd1-e1f8-3747-e1a6-362c4e4dad3b","position":{"x":176.0,"y":88.0},"componentType":"FUNNEL","groupIdentifier":"d8ade1a4-ab71-3bc6-b1f5-b98c7391249b"}],"controllerServices":[],"parameterContextName":"ParameterTemplate","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"639347c5-ca44-3614-93bf-801ce1480704"}],"remoteProcessGroups":[],"processors":[{"identifier":"4827965c-bd3d-33d2-9e54-df9ebba6217a","instanceIdentifier":"0c65ace7-979b-35ab-56d2-933343a0939b","name":"GeoDataFrameをFieldSetFileに変換","comments":"","position":{"x":-752.0,"y":776.0},"type":"ConvertGeoDataFrameToFieldSetFile","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"1.0.0"},"properties":{"Feature ID Column Name":"","Data Definition Delimiter":"Comma"},"propertyDescriptors":{"Feature ID Column Name":{"name":"Feature ID Column Name","displayName":"Feature ID Column Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Definition Delimiter":{"name":"Data Definition Delimiter","displayName":"Data Definition Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#fff2a8"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"639347c5-ca44-3614-93bf-801ce1480704"}],"inputPorts":[],"outputPorts":[{"identifier":"bd1cd65e-9470-3b74-bd62-4fed3497848d","instanceIdentifier":"57d412c2-8a97-3d34-20a9-1abf74f12c34","name":"FieldSetFileを渡す","position":{"x":-696.0,"y":1056.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"639347c5-ca44-3614-93bf-801ce1480704"}],"connections":[{"identifier":"d82e2084-2f2f-3077-a345-1c1ca1c8ee7b","instanceIdentifier":"3bdec961-ccb4-3afb-b63b-7aeab28fffec","name":"","source":{"id":"8af41f19-5969-3775-843a-834540ced5db","type":"OUTPUT_PORT","groupId":"e96ed264-918b-3b4c-9f51-791ccb114280","name":"GeoDataFrameを渡す","instanceIdentifier":"416aca77-7a1d-32a1-9a0b-e6620cb98fd6"},"destination":{"id":"499dd3c9-8dba-3dff-b304-c14bf56ad17e","type":"INPUT_PORT","groupId":"d8ade1a4-ab71-3bc6-b1f5-b98c7391249b","name":"GeoDataFrameを受け取る","instanceIdentifier":"ded1f908-b32c-30a7-547e-c64b64141cdb"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"639347c5-ca44-3614-93bf-801ce1480704"},{"identifier":"b3020631-3bc6-3df8-828a-fcc42d83fa76","instanceIdentifier":"d9cdf181-3ede-37e3-6dda-778246f60df1","name":"","source":{"id":"4827965c-bd3d-33d2-9e54-df9ebba6217a","type":"PROCESSOR","groupId":"639347c5-ca44-3614-93bf-801ce1480704","name":"GeoDataFrameをFieldSetFileに変換","comments":"","instanceIdentifier":"0c65ace7-979b-35ab-56d2-933343a0939b"},"destination":{"id":"bcaa6582-d851-34af-8402-ad6569c36353","type":"FUNNEL","groupId":"639347c5-ca44-3614-93bf-801ce1480704","name":"Funnel","comments":"","instanceIdentifier":"9b1d5684-9641-3296-bdf1-5b02c51ec7c7"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-216.0,"y":840.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"639347c5-ca44-3614-93bf-801ce1480704"},{"identifier":"c2251c21-30d5-3e67-a3cc-07aad2c27b5f","instanceIdentifier":"6d668b45-02a9-32c6-72bb-968bc5f55c30","name":"","source":{"id":"4827965c-bd3d-33d2-9e54-df9ebba6217a","type":"PROCESSOR","groupId":"639347c5-ca44-3614-93bf-801ce1480704","name":"GeoDataFrameをFieldSetFileに変換","comments":"","instanceIdentifier":"0c65ace7-979b-35ab-56d2-933343a0939b"},"destination":{"id":"bd1cd65e-9470-3b74-bd62-4fed3497848d","type":"OUTPUT_PORT","groupId":"639347c5-ca44-3614-93bf-801ce1480704","name":"FieldSetFileを渡す","instanceIdentifier":"57d412c2-8a97-3d34-20a9-1abf74f12c34"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"639347c5-ca44-3614-93bf-801ce1480704"},{"identifier":"6d9e85a5-f53e-3b82-aa37-c5af56dbccc4","instanceIdentifier":"0afc22c1-bf52-3b5f-a4f6-c77ec8d2e3a9","name":"","source":{"id":"61443b86-825b-3c20-b5d2-d289445d7704","type":"OUTPUT_PORT","groupId":"d8ade1a4-ab71-3bc6-b1f5-b98c7391249b","name":"GeoDataFrameを渡す","instanceIdentifier":"b5ed82b3-1f82-3552-e4a0-0526479796b4"},"destination":{"id":"4827965c-bd3d-33d2-9e54-df9ebba6217a","type":"PROCESSOR","groupId":"639347c5-ca44-3614-93bf-801ce1480704","name":"GeoDataFrameをFieldSetFileに変換","comments":"","instanceIdentifier":"0c65ace7-979b-35ab-56d2-933343a0939b"},"labelIndex":0,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"639347c5-ca44-3614-93bf-801ce1480704"}],"labels":[],"funnels":[{"identifier":"bcaa6582-d851-34af-8402-ad6569c36353","instanceIdentifier":"9b1d5684-9641-3296-bdf1-5b02c51ec7c7","position":{"x":24.0,"y":816.0},"componentType":"FUNNEL","groupIdentifier":"639347c5-ca44-3614-93bf-801ce1480704"}],"controllerServices":[{"identifier":"6f042409-6d9e-32ff-8f40-1b970ef79960","instanceIdentifier":"f8cc2142-abde-3df2-b492-f617737d7f38","name":"CSVRecordSetWriter","comments":"","type":"org.apache.nifi.csv.CSVRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"CSV Format":"custom","Include Header Line":"true","schema-cache":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Trim Fields":"true","schema-registry":null,"Time Format":null,"Comment Marker":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}","csv-writer":"commons-csv","Quote Character":"\"","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Schema Write Strategy":"no-schema","schema-name":"${schema.name}","Quote Mode":"MINIMAL","Schema Reference Writer":null,"Include Trailing Delimiter":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Header Line":{"name":"Include Header Line","displayName":"Include Header Line","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csv-writer":{"name":"csv-writer","displayName":"CSV Writer","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Mode":{"name":"Quote Mode","displayName":"Quote Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Trailing Delimiter":{"name":"Include Trailing Delimiter","displayName":"Include Trailing Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"639347c5-ca44-3614-93bf-801ce1480704"},{"identifier":"ca272b5b-ab75-3951-98fc-5ca901b51f5e","instanceIdentifier":"c7e54b29-90f2-3eb4-acf7-ea0546e211b7","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"639347c5-ca44-3614-93bf-801ce1480704"}],"parameterContextName":"ParameterTemplate","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{"ParameterTemplate":{"name":"ParameterTemplate","parameters":[{"name":"001_DefaultDirectory","description":"","sensitive":false,"provided":false,"value":"C:\\ApacheNiFi_Data"},{"name":"201_OutputDirectoryCityGmlNoThematic","description":"","sensitive":false,"provided":false,"value":"事業者\\設備名\\03.Output\\CityGml\\NoThematic"},{"name":"200_OutputDirectoryCityGmlThematic","description":"","sensitive":false,"provided":false,"value":""},{"name":"401_GeoDataFrameToFieldSetFileDataDefinition","description":"","sensitive":false,"provided":false},{"name":"100_InputDirectoryShapefile","description":"","sensitive":false,"provided":false,"value":"事業者\\設備名\\01.Input"},{"name":"202_OutputDirectoryPipeCSV","description":"","sensitive":false,"provided":false,"value":"事業者\\設備名\\03.Output\\CSV"},{"name":"501_OutputSidDataCSVDataDefinition","description":"","sensitive":false,"provided":false},{"name":"300_BackupDirectory","description":"","sensitive":false,"provided":false,"value":"事業者\\設備名\\02.Backup"},{"name":"500_OutputCityGmlDataDefinition","description":"","sensitive":false,"provided":false},{"name":"502_FieldSetFileToGeoDataFrameDataDefinition","description":"","sensitive":false,"provided":false},{"name":"101_InputDirectoryCenterPointManhole","description":"","sensitive":false,"provided":false,"value":""},{"name":"400_InputShapefileDataDefinition","description":"","sensitive":false,"provided":false},{"name":"700_EarthCoveringDepth","description":"","sensitive":false,"provided":false},{"name":"102_InputDirectoryDEM","description":"","sensitive":false,"provided":false,"value":""},{"name":"600_InputShapefileName","description":"","sensitive":false,"provided":false}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}