docs/04.exercises/exercise_materials/flow/ExSubtractZCoordinate.json
{"flowContents":{"identifier":"253b8d6c-77a5-321c-8f55-afffe07c0993","instanceIdentifier":"8511b38d-0195-1000-9b21-ced9f929cace","name":"ExSubtractZCoordinate","comments":"【処理概要】\n\n　座標配列を受け取り、座標配列のZ軸データに土被りの値を加算する。\n \n【プロセスグループの入力データ】\n\n　座標配列\n \n【プロセスグループの出力データ】\n\n　座標配列\n \n【補足】\n\n　特になし。\n ","position":{"x":-388.6900752826202,"y":301.7371817365588},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"3fbca8b6-824b-371b-90d1-13754163e1ea","instanceIdentifier":"53ced40d-0d89-3db1-ddef-46cec7958620","name":"z座標に対して土被りの値を加算","comments":"","position":{"x":-896.0,"y":928.0},"type":"ConvertCoordinatesZByEarthCovering","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"1.0.0"},"properties":{"Earth Covering":"#{700_EarthCoveringDepth}","Earth Covering DWH Name":null,"Width DWH Name":"${filename:substringBefore('.'):append('/外径')}"},"propertyDescriptors":{"Earth Covering":{"name":"Earth Covering","displayName":"Earth Covering","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Earth Covering DWH Name":{"name":"Earth Covering DWH Name","displayName":"Earth Covering DWH Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Width DWH Name":{"name":"Width DWH Name","displayName":"Width DWH Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#fff2a8"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"253b8d6c-77a5-321c-8f55-afffe07c0993"},{"identifier":"56b7f04e-dbc3-351f-aaf6-148278f757ad","instanceIdentifier":"3c506ab5-6309-34ba-8ea8-a67ecda409c7","name":"ファイルマージ用のパラメータを設定","comments":"","position":{"x":-896.0,"y":384.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.0.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","fragment.identifier":"${filename}","fragment.count":"2","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"fragment.identifier":{"name":"fragment.identifier","displayName":"fragment.identifier","identifiesControllerService":false,"sensitive":false,"dynamic":true},"fragment.count":{"name":"fragment.count","displayName":"fragment.count","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ccceff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"253b8d6c-77a5-321c-8f55-afffe07c0993"},{"identifier":"90c75083-aeb3-31d7-9336-a003437fc7c2","instanceIdentifier":"32c213d1-639d-3a84-c0b8-46baf25fc33e","name":"フロー上のデータをマージ","comments":"","position":{"x":-896.0,"y":672.0},"type":"org.apache.nifi.processors.standard.MergeRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0"},"properties":{"max-bin-age":null,"correlation-attribute-name":"fragment.identifier","Attribute Strategy":"Keep All Unique Attributes","min-records":"1","max-bin-size":null,"record-writer":"0a4d75c8-386d-35ae-8e52-471affe222a9","merge-strategy":"Defragment","record-reader":"2ef642cd-e90c-3094-ab12-20fd36939984","max-records":"1000","min-bin-size":"0 B","max.bin.count":"10"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{"background-color":"#ccceff"},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"253b8d6c-77a5-321c-8f55-afffe07c0993"}],"inputPorts":[{"identifier":"f4259d5f-f201-30d5-b5f9-79c69d2a87ba","instanceIdentifier":"d37b7a05-f665-386c-e72c-ad18ad575a70","name":"外径データを受け取る","position":{"x":-1040.0,"y":184.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"253b8d6c-77a5-321c-8f55-afffe07c0993"},{"identifier":"005dfd1b-6937-31ea-92e6-d906d38426ff","instanceIdentifier":"3eaabe5d-ea65-39fd-3bcc-d4c189f64f16","name":"座標配列を受け取る","position":{"x":-632.0,"y":184.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"253b8d6c-77a5-321c-8f55-afffe07c0993"}],"outputPorts":[{"identifier":"25f23cad-4691-3756-931e-c8ad182052e3","instanceIdentifier":"823b0db2-0f0c-3544-c155-266fe2312027","name":"座標配列を渡す","position":{"x":-840.0,"y":1168.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"253b8d6c-77a5-321c-8f55-afffe07c0993"}],"connections":[{"identifier":"11db11a0-c16d-3f37-93e2-1788dae1a288","instanceIdentifier":"50301930-9c07-3ec1-9add-2cfda60784c2","name":"","source":{"id":"90c75083-aeb3-31d7-9336-a003437fc7c2","type":"PROCESSOR","groupId":"253b8d6c-77a5-321c-8f55-afffe07c0993","name":"フロー上のデータをマージ","comments":"","instanceIdentifier":"32c213d1-639d-3a84-c0b8-46baf25fc33e"},"destination":{"id":"05d8f46f-116e-359c-9d7c-a7e2fe86e14a","type":"FUNNEL","groupId":"253b8d6c-77a5-321c-8f55-afffe07c0993","name":"Funnel","comments":"","instanceIdentifier":"8a09d702-f6aa-3ec2-2762-75427d67ea84"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-240.0,"y":736.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"253b8d6c-77a5-321c-8f55-afffe07c0993"},{"identifier":"6df35e2c-b55f-3f06-bd0b-c016aefbeb70","instanceIdentifier":"bedbd0d3-242b-323b-d168-7e7197db9549","name":"","source":{"id":"90c75083-aeb3-31d7-9336-a003437fc7c2","type":"PROCESSOR","groupId":"253b8d6c-77a5-321c-8f55-afffe07c0993","name":"フロー上のデータをマージ","comments":"","instanceIdentifier":"32c213d1-639d-3a84-c0b8-46baf25fc33e"},"destination":{"id":"3fbca8b6-824b-371b-90d1-13754163e1ea","type":"PROCESSOR","groupId":"253b8d6c-77a5-321c-8f55-afffe07c0993","name":"z座標に対して土被りの値を加算","comments":"","instanceIdentifier":"53ced40d-0d89-3db1-ddef-46cec7958620"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"253b8d6c-77a5-321c-8f55-afffe07c0993"},{"identifier":"0f9149ae-102c-3d3a-9395-09a46f96fe45","instanceIdentifier":"c9262a6d-8521-36bb-2cc1-0fb147e29876","name":"","source":{"id":"f4259d5f-f201-30d5-b5f9-79c69d2a87ba","type":"INPUT_PORT","groupId":"253b8d6c-77a5-321c-8f55-afffe07c0993","name":"外径データを受け取る","instanceIdentifier":"d37b7a05-f665-386c-e72c-ad18ad575a70"},"destination":{"id":"56b7f04e-dbc3-351f-aaf6-148278f757ad","type":"PROCESSOR","groupId":"253b8d6c-77a5-321c-8f55-afffe07c0993","name":"ファイルマージ用のパラメータを設定","comments":"","instanceIdentifier":"3c506ab5-6309-34ba-8ea8-a67ecda409c7"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"253b8d6c-77a5-321c-8f55-afffe07c0993"},{"identifier":"9c438844-f65b-35d5-bbac-0b40c0b38952","instanceIdentifier":"6f20e895-f0d0-3fe9-8164-03d0f1037321","name":"","source":{"id":"005dfd1b-6937-31ea-92e6-d906d38426ff","type":"INPUT_PORT","groupId":"253b8d6c-77a5-321c-8f55-afffe07c0993","name":"座標配列を受け取る","instanceIdentifier":"3eaabe5d-ea65-39fd-3bcc-d4c189f64f16"},"destination":{"id":"56b7f04e-dbc3-351f-aaf6-148278f757ad","type":"PROCESSOR","groupId":"253b8d6c-77a5-321c-8f55-afffe07c0993","name":"ファイルマージ用のパラメータを設定","comments":"","instanceIdentifier":"3c506ab5-6309-34ba-8ea8-a67ecda409c7"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"253b8d6c-77a5-321c-8f55-afffe07c0993"},{"identifier":"cc562d6b-83b9-31c2-b668-d327bbd0bea4","instanceIdentifier":"d54f0199-66e4-361c-8c8c-f57ac51559db","name":"","source":{"id":"3fbca8b6-824b-371b-90d1-13754163e1ea","type":"PROCESSOR","groupId":"253b8d6c-77a5-321c-8f55-afffe07c0993","name":"z座標に対して土被りの値を加算","comments":"","instanceIdentifier":"53ced40d-0d89-3db1-ddef-46cec7958620"},"destination":{"id":"05d8f46f-116e-359c-9d7c-a7e2fe86e14a","type":"FUNNEL","groupId":"253b8d6c-77a5-321c-8f55-afffe07c0993","name":"Funnel","comments":"","instanceIdentifier":"8a09d702-f6aa-3ec2-2762-75427d67ea84"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-240.0,"y":992.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"253b8d6c-77a5-321c-8f55-afffe07c0993"},{"identifier":"0c8ef87b-7f68-39ed-ba47-b6a15f564849","instanceIdentifier":"516d253c-c8b1-31bf-1e82-237cf3182bd9","name":"","source":{"id":"3fbca8b6-824b-371b-90d1-13754163e1ea","type":"PROCESSOR","groupId":"253b8d6c-77a5-321c-8f55-afffe07c0993","name":"z座標に対して土被りの値を加算","comments":"","instanceIdentifier":"53ced40d-0d89-3db1-ddef-46cec7958620"},"destination":{"id":"25f23cad-4691-3756-931e-c8ad182052e3","type":"OUTPUT_PORT","groupId":"253b8d6c-77a5-321c-8f55-afffe07c0993","name":"座標配列を渡す","instanceIdentifier":"823b0db2-0f0c-3544-c155-266fe2312027"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"253b8d6c-77a5-321c-8f55-afffe07c0993"},{"identifier":"74715924-3e4d-3e9c-98f1-dc76196c2d5c","instanceIdentifier":"b66a6849-dcf1-31a6-1643-5584a7a7b247","name":"","source":{"id":"56b7f04e-dbc3-351f-aaf6-148278f757ad","type":"PROCESSOR","groupId":"253b8d6c-77a5-321c-8f55-afffe07c0993","name":"ファイルマージ用のパラメータを設定","comments":"","instanceIdentifier":"3c506ab5-6309-34ba-8ea8-a67ecda409c7"},"destination":{"id":"90c75083-aeb3-31d7-9336-a003437fc7c2","type":"PROCESSOR","groupId":"253b8d6c-77a5-321c-8f55-afffe07c0993","name":"フロー上のデータをマージ","comments":"","instanceIdentifier":"32c213d1-639d-3a84-c0b8-46baf25fc33e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"253b8d6c-77a5-321c-8f55-afffe07c0993"}],"labels":[],"funnels":[{"identifier":"05d8f46f-116e-359c-9d7c-a7e2fe86e14a","instanceIdentifier":"8a09d702-f6aa-3ec2-2762-75427d67ea84","position":{"x":-264.0,"y":840.0},"componentType":"FUNNEL","groupIdentifier":"253b8d6c-77a5-321c-8f55-afffe07c0993"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}